*{
    margin: 0;
    padding: 0;
}



.wrapper{
    height: 25vh;
}

.gallery{
    width: 30%;
    display: flex;
    max-height: 80vh;
}

.gallerycol{
    display: flex;
    flex-direction: column;
    margin: 5px;
}

.gallery img{
    width: 100%;
    height: auto;
    object-fit: contain;
    margin: 5px;
    border: 1px solid #ccc;
    opacity: 87%;
}

.gallery img:hover{
    cursor: pointer;
    opacity: 100%;
    transition: opacity .25s ease;
}

.bigphoto{
    width: 68%;
    height: auto;
    max-height: 80vh;
    object-fit: contain;
    overflow: hidden;
    margin: 5px;
}

#hero{
    height: auto;
    width: 100%;
}

@media (max-width: 800px){
    .gallery{
        flex-direction: column;
        width: 100%;
    }
    
    .gallerycol{
        flex-direction: row;
        width: 100%;
        align-self: center;
        overflow: visible;
        margin: 0;
    }
    
    .gallery img{
        width: 25%;
        height: auto;
        object-fit: cover;
        margin: 0;
        border: none;
    }
    
    .bigphoto{
        width: 100%;
        margin: 5px 0;
    }
    
    .wrapper{
        display: block;
        height: auto;
    }
    
    .main{
        display: block;
        width: auto;
        margin: 0;
    }
}