html{
    font-size: 16px;
}

@media (max-width:800px) {
  html {
   font-size: 30px;
  }
}

p{
    font-size: 1rem;
        color: #FFFFFF;
    opacity: 60%;
    font-family: 'Source Sans Pro', sans-serif;
}

h1{
    font-size: 3rem;
    color: #FFFFFF;
    opacity: 87%;
    font-family: 'Montserrat', sans-serif;
}

h2{
    font-size: 2rem;
}

h3{
    font-size: 1.5rem;
    color: #FFFFFF;
    opacity: 87%;
    font-family: 'Montserrat', sans-serif;
}